.page {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.page__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.page__filter__form {
  width: 100%;
  display: flex;
  gap: 8px;
}

.page__filter__input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(48, 48, 48);
  background-color: rgb(38, 38, 38);
  color: white;
  font-size: 14px;
  border-radius: 6px;
}

.page__filter__button {
  padding: 8px 24px;
  border-radius: 6px;
  border: 1px solid rgb(48, 48, 48);
  background-color: rgb(38, 38, 38);
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;
}

.page__filter__button:hover {
  background-color: rgb(48, 48, 48);
}

.page__list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.page__list__item {
  border: 1px solid rgb(48, 48, 48);
  background-color: rgb(38, 38, 38);
  padding: 24px;
  border-radius: 16px;
  transition: background-color 0.2s;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.page__list__item:hover {
  background-color: rgb(48, 48, 48);
}

.page__list__item__title {}

.page__list__item__description {}

.page__list__item__tags {
  position: relative;
  z-index: 2;

  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.page__list__item__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: pointer;
  display: block;
}

.page__pagination {
  margin-top: 16px;
}
