.page {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.page__header {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
